
@each $propName, $shortProp in $SPACING_PROPS {
  @each $size, $space in $spacers {
    $value: $space !important;
    .#{$shortProp}-#{$size} {
      #{$propName}: $value;
    }
    .#{$shortProp}x-#{$size} {
      #{$propName}-left: $value;
      #{$propName}-right: $value;
    }
    .#{$shortProp}y-#{$size} {
      #{$propName}-top: $value;
      #{$propName}-bottom: $value;
    }
    .#{$shortProp}t-#{$size} {
      #{$propName}-top: $value;
    }
    .#{$shortProp}b-#{$size} {
      #{$propName}-bottom: $value;
    }
    .#{$shortProp}l-#{$size} {
      #{$propName}-left: $value;
    }
    .#{$shortProp}r-#{$size} {
      #{$propName}-right: $value;
    }
  }
}

// auto margining
.m-auto {
  margin: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

//   todo:   negative spacing
